body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #8ba596;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  font-size: 1px;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* Меню навигации */
.main-navigation ul {
  list-style: none;
}

.main-navigation-link {
  font-size: inherit;
  line-height: 18px;
  font-weight: 700;
  color: inherit;
}

.main-navigation-current .main-navigation-link {
  padding: 5px;

  background-color: #d07058;
  border-radius: 15px;
}

.catalog-subnav-item-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: inherit;
  color: #323232;
}

.catalog-subnav-current a {
  background-color: #d07058;
  color: inherit;
}

/* Подсветка ссылок в шапке при наведении/нажатии */
.mainlink-highlight:hover,
.mainlink-highlight:focus {
  padding: 5px;

  color: #333333;
  background-color: #f7f6f3;
  border-radius: 15px;
}

.mainlink-highlight:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

/* Подсветка при наведении/нажатии на ссылку подменю */
.catalog-subnav-item-link:hover,
.catalog-subnav-item-link:focus {
  background-color: #fbded8;
}

.catalog-subnav-item-link:active {
  background-color: #f6b5a5;
}

/* Подсветка ссылок при наведении */
.link-highlight:hover,
.link-highlight:focus {
  color: #ffbc9e;
}

/* Подчеркивания ссылок */
.link-highlight,
.mainlink-highlight {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Корзина */
.login-view,
.cart-view {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
}

.cart-item-img {
  border-radius: 50%
}

/* Часы работы, телефон */
.workinghours {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.workinghours-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
}

/* Специальные предложения */
.special-offers {
  font-weight: 700;
}

.special-offers-title {
  font-size: 35px;
  line-height: 41px;
}

.special-offers-desc {
  font-size: 18px;
  line-height: 22px;
}

.special-offers a {
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}

.special-offers-raspberry {
  width: 560px;
  min-height: 229px;
  border-radius: 15px;

  background-color: #6e1a2a;
  background-image: url("../img/raspberry-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.special-offers-chokolate {
  width: 560px;
  min-height: 229px;
  border-radius: 15px;

  background-color: #40261a;
  background-image: url("../img/chocolate-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Хлебные крошки */
.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 16px;
  color: inherit;
}

/* Фильтры */
.filters {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
}

.filters ul {
  list-style: none;
}

.filters-sorting-select {
  padding: 5px 20px 5px 8px;

  color: inherit;

  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filters-sorting-select:hover {
  color: #323232;
}

.filters-submit {
  padding: 8px 28px;

  color: inherit;
  font-weight: 500;

  border: 2px solid #ffffff;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);

  cursor: pointer;
}

.filters-submit:hover,
.filters-submit:focus {
  color: #323232;

  background-color: #ffffff;
}

.filters-submit:active {
  padding: 10px 30px;

  border: 0;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

/* Бестселлеры & Каталог товаров */
.catalog-list {
  list-style: none;
}

.catalog-item-link {
  font-size: 16px;
  line-height: 22px;
  color: inherit;
  font-weight: 500;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-price .sub {
  font-size: 30px;
  line-height: 45px;
  vertical-align: sub;
  font-weight: 700;
}

.catalog-item-photo {
  border-radius: 50%;
}

/* Кнопки пагинации */
.pagination-list {
  list-style: none;
}

.pagination-link {
  padding: 5px 10px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: inherit;

  border-radius: 50%;

  cursor: pointer;
}

.pagination-disabled .pagination-link {
  color: rgba(255, 255, 255, 0.2);
}

.pagination-current .pagination-link {
  color: #323232;

  background-color: #ffffff;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Преимущества */
.advantages {
  width: 1146px;
  min-height: 306px;
  border-radius: 15px;

  background-color: #eee2c9;
  background-image: url("../img/waffle-background.jpg");
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.advantages-list {
  list-style: none;
  color: #323232;
}

/* Раздел блога */
.blog {
  width: 560px;
  min-height: 220px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.blog-header {
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
}

.blog-desc-link {
  color: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.blog-desc-link:hover {
  color: #e84d37;
}

/* Подписка на рассылку */
.subscribe {
  width: 549px;
  min-height: 211px;
  border-radius: 15px;

  background-color: #f8f7f4;
  border: 0px solid #f8f7f4;
  border-image: url("../img/mail-background.svg");
  border-image-slice: 5;
  border-width: 4px 5px 6px 5px;
}

.subscribe-desc {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

/* Кнопки социальных сетей */
.footer-social {
  list-style: none;
}

/* Меню по центру футера */
.footer-menu {
  list-style: none;
}

.footer-menu-link {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-menu-supply .footer-menu-link {
  font-weight: 700;
}

/* Копирайт */
.footer-copyright{
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright-link {
  color: #ffffff;
}

/* Кнопки */
.btn {
  padding: 5px;

  color: #ffffff;

  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: 0;
  border-radius: 15px;
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.btn:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

/* Пока спрячу это здесь */

.feedback {
  display: none;
}

.login-form {
  display: none;
}

.search-form {
  display: none;
}

.cart-table {
  display: none;
}

.cart-checkout {
  display: none;
}
