body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  font-size: 1px;
  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.placeholder-style::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
 }

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Стили хедера */
.main-header {
  display: flex;
  flex-wrap: wrap;
  width: 1146px;
  min-height: 125px;
  margin: 0 auto;
}

/* Логотип */
.main-header-logo {
  width: 154px;
  height: 64px;
  margin-top: 9px;
}

/* Меню навигации - размер */
.main-navigation {
  width: 375px;
}

/* Сбрасывание стилей всех списков главного меню */
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Меню навигации - флекс-список */
.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation-link {
  display: block;
  padding: 8px 13px;

  font-size: inherit;
  line-height: 18px;
  font-weight: 700;
  color: inherit;

  border-radius: 30px;
}

/* Меню навигации - находимся на странице */
.main-navigation-current .main-navigation-link {
  text-decoration: none;

  background-color: #d07058;
}

/* Меню навигации - подсветка при наведении/нажатии */
.mainlink-highlight:hover,
.mainlink-highlight:focus {
  color: #333333;
  text-decoration: none;

  background-color: #f7f6f3;
}

.mainlink-highlight:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.mainlink-highlight:hover path,
.mainlink-highlight:focus path {
  fill: #333333;
}

.main-navigation-item {
  position: relative;
}

.main-navigation-item:hover .catalog-subnav {
  display: block;
}

/* Подменю навигации */
.catalog-subnav {
  position: absolute;
  z-index: 30;

  display: none;
  top: 38px;
  left: -7px;

  width: 143px;

  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;

  overflow: hidden;
}

/* Подменю навигации - ссылки-кнопки */
.catalog-subnav-item-link {
  display: block;

  padding: 8px 20px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.catalog-subnav-item:first-child .catalog-subnav-item-link {
  padding: 11px 20px;
  margin-bottom: 2px;

  font-weight: 700;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Подменю навигации - находимся на странице */
.catalog-subnav-current a {
  color: inherit;

  background-color: #d07058;
}

/* Подменю навигации - подсветка при наведении/нажатии */
.catalog-subnav-item-link:hover,
.catalog-subnav-item-link:focus {
  background-color: #fbded8;
}

.catalog-subnav-item-link:active {
  background-color: #f6b5a5;
}

/* Подсветка ссылок при наведении */
.link-highlight:hover,
.link-highlight:focus {
  color: #ffbc9e;
}

.login-form-link:hover,
.blog-desc-link:hover {
  color: #e84d37;
}

/* Обертка всех меню хедера */
.topmenu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 982px;
  margin-left: 10px;
}

/* Блок поиска */
.search {
  position: relative;

  margin-left: auto;
}

.search-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search:hover .search-form {
  display: block;
}

.search-form {
  position: absolute;
  top: 36px;
  left: -307px;
  z-index: 30;

  display: none;

  padding: 20px 15px;

  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.search-form-field {
  box-sizing: border-box;
  width: 311px;
  padding: 9px 14px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login,
.cart {
  margin-left: 10px;
}

/* Стили логина и корзины */
.login-view,
.cart-view {
  display: block;
  position: relative;

  padding: 7px 17px 8px 44px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: inherit;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: 0;
}

.cart-full {
  color: #333333;
  
  background-color: #f7f6f3;
}

.login-view svg {
  position: absolute;

  top: 5px;
  left: 17px;

  width: 21px;
  height: 21px;
}

.login {
  position: relative;
}

.login:hover .login-form {
  display: block;
}

.login-form {
  position: absolute;
  top: 35px;
  left: -181px;
  z-index: 30;

  display: none;
  box-sizing: border-box;
  width: 277px;
  min-height: 214px;
  padding: 4px 18px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.login-form-field {
  box-sizing: border-box;
  width: 100%;
  padding: 9px 14px;
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-form-links {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 17px;
  width: 120px;
}

.login-form-link {
  font-size: 13px;
  line-height: 20px;
  color: #323232;
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);
}

.login .login-btn {
  padding: 11px 24px 10px 24px;

  border-radius: 18px;
  box-shadow: none;
}

.cart-view::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 17px;

  width: 21px;
  height: 21px;

  background: url("../img/cart.svg") no-repeat 0 0;
}

.inner-page .cart-view::before {
  background: url("../img/cart-red.svg") no-repeat 0 0;
}

.cart-view:hover::before,
.cart-view:focus::before {
  background: url("../img/cart-red.svg") no-repeat 0 0;
}

/* Округление фото товаров в корзине */
.cart-item-img {
  border-radius: 50%
}

/* Блок - часы работы, телефон */
.workinghours {
  width: 168px;
  min-height: 48px;
  padding: 0;
  margin: -5px 0 0 auto;

  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

/* Телефон магазина - блочная ссылка */
.workinghours-phone {
  display: block;
  margin-top: 4px;

  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

/* Слайдер */
.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/icecream1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/icecream2.png");
}

.site-wrapper::after {
  background-image: url("../img/icecream3.png");
}

.site-container {
  width: 1200px;
  margin: 0 auto;
}

.slider {
  position: relative;

  padding-top: 267px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 32px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-item .slide-btn {
  padding: 9px 41px 10px 41px;;

  font-weight: 600;
  font-size: 32px;
  line-height: 44px;

  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 28px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/icecream1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/icecream2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/icecream3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/* Секция "Специальные предложения" */
.special-offers {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  width: 1146px;

  font-weight: 700;
}

.special-offers-title {
  margin: 16px 0 0 18px;

  font-size: 35px;
  line-height: 41px;
}

.special-offers-desc {
  margin: 15px 19px;

  font-size: 18px;
  line-height: 22px;
}

.special-offers a {
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}

.special-offers-raspberry {
  width: 560px;
  min-height: 229px;

  border-radius: 15px;
  background-color: #6e1a2a;
  background: url("../img/raspberry-background.jpg") no-repeat center;
  background-size: cover;
}

.special-offers-chokolate {
  width: 560px;
  min-height: 229px;

  border-radius: 15px;
  background-color: #40261a;
  background: url("../img/chocolate-background.jpg") no-repeat center;
  background-size: cover;
}

.btn-choko {
  margin: 30px 0 0 350px;
}

.btn-jam {
  margin: 30px 0 0 375px;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  justify-content: space-between;
  margin: -31px 0 2px 27px;
  padding: 0;

  list-style: none;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 16px;
  color: inherit;
}

.page-title {
  margin: 0 0 0 27px;
  padding: 0;
  padding-bottom: 199px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700px;
}

/* Фильтры */
.filters {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
}

.filters ul {
  list-style: none;
}

.filters-sorting-select {
  padding: 5px 20px 5px 8px;

  color: inherit;

  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filters-sorting-select:hover {
  color: #323232;
}

.filters-submit {
  padding: 8px 28px;

  color: inherit;
  font-weight: 500;

  border: 2px solid #ffffff;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);

  cursor: pointer;
}

.filters-submit:hover,
.filters-submit:focus {
  color: #323232;

  background-color: #ffffff;
}

.filters-submit:active {
  padding: 10px 30px;

  border: 0;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

/* Бестселлеры & Каталог товаров */
.catalog,
.bestsellers {
  display: flex;
  margin: 0 auto 0 auto;
  width: 1146px;
  min-height: 330px;
}

.catalog {
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog-list {
  display: flex;
  width: 1146px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.catalog-item-card {
  display: flex;
  flex-direction: column;
  width: 267px;
  padding-bottom: 18px;
}

.catalog-item-name {
  order: 4;
  margin-top: -25px;

  text-align: center;
}

.catalog-item-link {
  font-size: 16px;
  line-height: 22px;
  color: inherit;
  font-weight: 500;
}

.catalog-item-price {
  margin-top: -58px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price .sub {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-photo {
  border-radius: 50%;
}

.catalog-item-hit {
  position: absolute;
}

.catalog {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Кнопки пагинации */
.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 45px 0 30px auto;

  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  position: relative;

  display: block;

  padding: 3px 8px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;

  border-radius: 50%;

  cursor: pointer;
}

.pagination-prev::before,
.pagination-next::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -2px;

  display: block;
  width: 9px;
  height: 15px;

  background: url("../img/icon-right-small.svg") no-repeat 0 0;
}

.pagination-next::after {
  left: 8px;
}

.pagination-prev::before {
  transform: rotate(180deg);
}

.pagination-disabled .pagination-link {
  opacity: 0.2;
}

.pagination-current .pagination-link {
  color: #323232;

  background-color: #ffffff;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Преимущества */
.advantages {
  display: flex;
  flex-direction: column;
  margin: 0 auto 39px auto;
  width: 1146px;
  min-height: 306px;
  border-radius: 15px;


  background-color: #eee2c9;
  background: url("../img/waffle-background.jpg") repeat center;
  background-size: auto;
}

.advantages-title {
  margin: 25px 0px 0px 21px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
  padding: 0;

  list-style: none;
  color: #323232;
}

.advantages-item {
  position: relative;

  margin: 21px 0 2px 76px;
  width: 480px;
}

.advantages-item:nth-child(2n) {
  margin-left: 88px;
}

.advantages-modern::before {
  content: "";

  position: absolute;
  top: -13px;
  left: -56px;

  width: 49px;
  height: 49px;

  background: url("../img/ice-cream.svg") no-repeat 0 0;
}

.advantages-natural::before {
  content: "";

  position: absolute;
  top: -13px;
  left: -56px;

  width: 49px;
  height: 49px;

  background: url("../img/eco.svg") no-repeat 0 0;
}

.advantages-reliability::before {
  content: "";

  position: absolute;
  top: -13px;
  left: -59px;

  width: 49px;
  height: 49px;

  background: url("../img/cow.svg") no-repeat 0 0;
}

.advantages-delivery::before {
  content: "";

  position: absolute;
  top: -13px;
  left: -59px;

  width: 49px;
  height: 49px;

  background: url("../img/thermometer.svg") no-repeat 0 0;
}

.columns-blog-subscribe {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 39px auto;
  width: 1146px;
  min-height: 220px;
}

/* Раздел блога */
.blog {
  width: 560px;
  min-height: 220px;

  color: #323232;

  background: #ffffff url("../img/strawberry-background.jpg") no-repeat center;
  background-size: cover;
  border-radius: 15px;
}

.blog-header {
  margin: 24px 0px 0px 20px;

  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
}

.blog-desc-link {
  display: block;

  margin: -12px 0px 0px 20px;
  width: 285px;

  color: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

/* Подписка на рассылку */
.subscribe {
  display: flex;
  flex-direction: column;

  width: 549px;
  min-height: 211px;
  border-radius: 15px;

  background-color: #f8f7f4;
  border: 0px solid #f8f7f4;
  border-image: url("../img/mail-background.svg");
  border-image-slice: 5;
  border-width: 5px;
}

.subscribe-desc {
  width: 515px;
  margin: 30px 0px 0px 21px;

  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.subscribe-field {
  width: 335px;
  margin: 36px 0px 0px 21px;
  padding: 12px 15px;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.subscribe .subscribe-btn {
  margin: 35px 0 0 8px;
  padding: 10px 19px 10px 19px;
}

/* Карта */

.map {
  display: flex;
  width: 1200px;
  height: 430px;
  margin: 0 auto;

  background: url("../img/map.jpg") no-repeat center;
  background-size: cover;
}


/* Футер */
.main-footer {
  display: flex;
  margin: 0 auto;
  width: 1146px;
  min-height: 103px;
}

/* Кнопки социальных сетей */
.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-top: 35px;
  padding: 0;
  width: 187px;

  list-style: none;
}

.footer-social-link {
  display: flex;

  width: 32px;
  height: 32px;

  opacity: 0.8;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 1;

  border: 3px solid rgba(255, 255, 255, 0.7);
}

.footer-social-link:active path{
  fill: #e9e9e9;
}

/* Меню по центру футера */
.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;
  width: 304px;
  margin: 31px 0 auto 195px;

  list-style: none;
}

.footer-menu::before {
  content: "";

  position: absolute;
  left: 18px;
  top: 6px;

  width: 20px;
  height: 20px;

  background: url("../img/heart.svg") no-repeat 0 0;
}

.footer-menu-link {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-menu-documents {
  margin-right: 55px;
}

.footer-menu-supply .footer-menu-link {
  font-weight: 700;
}

/* Копирайт */
.footer-copyright {
  position: relative;

  width: 190px;
  margin: 61px 0 auto auto;

  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright-link::before {
  content: "";

  position: absolute;
  top: -42px;
  left: 2px;

  width: 108px;
  height: 39px;

  background: url("../img/logo-htmlacademy.svg") no-repeat 0 0;
}

.footer-copyright-link {
  color: #ffffff;
}

/* Кнопки */
.btn {
  display: inline-block;
  padding: 9px 22px 12px 22px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  text-decoration: none;

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* Пока спрячу это здесь */

.feedback {
  display: none;
}

.cart-table {
  display: none;
}

.cart-checkout {
  display: none;
}

.filters {
  display: none;
}
